.terminal {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  background-color: #1c1c1c;
  filter: opacity(90%);
  border: 2px solid #6f6f6f;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.terminal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 40px;
  padding: 0 10px;
  color: white;
  font-size: 1.2rem;
}

.terminal-window {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: monospace;
  font-size: 1.2rem;
  color: white;
  height: 90%;
}

.terminal-input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-family: monospace;
  font-size: 1.2rem;
  width: 100%;
  padding: 0;
}

.terminal-output {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 4px;
  max-height: 95%;
  overflow-y: scroll;
}

.terminal-output__single {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal-carret {
  display: flex;
  justify-content: start;
}

.terminal-input:focus + .terminal-caret {
  border-left: 2px solid #fff;
}

.terminal-caret {
  display: inline-block;
  width: 0;
  height: 1rem;
  border-left: 2px solid transparent;
  vertical-align: top;
  margin-left: 0.2rem;
}

pre {
  color: greenyellow;
  margin: 0 8px 0 0;
}

.terminal-carret__span {
  color: turquoise;
}
